.button-buy {
  width: 200px;
  height: 35px;
  padding-top: 1px;
  align-self: center;
  background: #D8A4A8;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 100;
  border-radius: 25px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px auto;
}

.text {
  color: black;
}

.kart {
  width: 94%;
  max-width: 422px;
  margin: 20px auto;
  min-height: 431px;
}

.list-items {
  overflow: auto;
  max-height: 360px;
}

.item {
  display: flex;
  margin: 15px 0px;
}

.image-product {
  width: 140px;
}

.image-resume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px 10px 5px;
  min-width: 133px;
}

.title {
  font-weight: 500;
}

.resume {
  margin-top: 30px;
  background: #8080801a;
  padding: 30px;
  background: #8080801a;

  .remuse-total {
    display: flex;
    justify-content: space-between;
  }
}

.content-icon {
  margin-top: 9px;
}

::ng-deep .material-icons {
  font-size: 21px;
}

.back-button {
  background: white;
  border: 1px solid;
}


@media only screen and (min-width: 644px) {
  .kart {
    display: flex;
    justify-content: space-between;
    max-width: 612px;
  }
}

@media only screen and (min-width: 592px) {

  .response {
    max-width: 526px;;
  }

}

.icon-error {
  font-size: 38px;
  color: red;
}

.response {
  max-width: 336px;
  box-shadow: 0px 0px 12px #999;
  text-align: center;
  padding: 53px;
  max-height: 400px;
}

.container {
  min-height: 470px;
  min-height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}
