header {
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 100;
  background: #D8A4A8;
}

.icon-cart {
  display: block;
  width: 20px;
  height: 25px;
  background-image: url('/assets/images/cart3-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-list {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('/assets/images/list-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

header h4 {
  margin: 0px;
  color: white;
}

::ng-deep .badge {
  height: 19px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
