<form [formGroup]="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="nombre" placeholder="Ingrese su nombre">
    <mat-error *ngIf="form.get('nombre')?.getError('minlength') && !form.get('nombre')?.hasError('required')">
      Ingresa un nombre valido
    </mat-error>
    <mat-error *ngIf="form.get('nombre')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Apellido</mat-label>
    <input type="text" matInput formControlName="apellido" placeholder="Ingrese su apellido">
    <mat-error *ngIf="form.get('apellido')?.getError('minlength') && !form.get('apellido')?.hasError('required')">
      Ingresa un apellido valido
    </mat-error>
    <mat-error *ngIf="form.get('apellido')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ingrese su correo">
    <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
      Ingresa un correo valido
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Dirección</mat-label>
    <input type="text" matInput formControlName="direccion" placeholder="Direccion de entrega">
    <mat-error *ngIf="form.get('direccion')?.hasError('minlength') && !form.get('direccion')?.hasError('required')">
      Ingresa una Dirección valida
    </mat-error>
    <mat-error *ngIf="form.get('direccion')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Celular</mat-label>
    <input type="text" matInput formControlName="celular" placeholder="Numero de celular">
    <mat-error *ngIf="form.get('celular')?.hasError('min') || form.get('celular')?.hasError('max') && !form.get('celular')?.hasError('required')">
      Ingresa un numero de celular valido
    </mat-error>
    <mat-error *ngIf="form.get('celular')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Departamento</mat-label>
    <input type="text" matInput formControlName="departamento" placeholder="Departamento de entrega">
    <mat-error *ngIf="form.get('departamento')?.hasError('minlength') && !form.get('departamento')?.hasError('required')">
      Ingresa un departamento valido
    </mat-error>
    <mat-error *ngIf="form.get('departamento')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Código postal</mat-label>
    <input type="number" matInput formControlName="codigoPostal" placeholder="Código postal">
    <mat-error *ngIf="form.get('codigoPostal')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ciudad</mat-label>
    <input type="text" matInput formControlName="ciudad" placeholder="Ciudad de entrega">
    <mat-error *ngIf="form.get('ciudad')?.hasError('minlength') && !form.get('ciudad')?.hasError('required')">
      Ingresa una ciudad valida
    </mat-error>
    <mat-error *ngIf="form.get('ciudad')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>
</form>

<button class="button-buy" [disabled]="form.invalid" (click)="buy()" [mat-dialog-close]="true">
  <small class="text" >Pagar</small>
</button>
